body, p, h1, h2, h3, h4, h5, h6, blockquote, pre, ul, ol, dd, table, td, th
{margin:0; padding:0; font-size: 100%; vertical-align:baseline; font-weight:normal; line-height: 1.35; font-family: 'helvetica neue', arial, helvetica, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
ul,ol {list-style:none;}
table { border-collapse: collapse; border-spacing: 0; }
caption {text-align:left;}
th {font-weight:normal;}
a {text-decoration:none;}
a img {border:0;}
fieldset {border:0;}
form * {font-family: arial, helvetica, sans-serif;}