/* this font file includes serifa medium and light to replace the old fontdeck hosted service */


/*
Font: 		Serifa D
Style: 		Medium
URL: 		https://www.youworkforthem.com/font/T1134/serifa
Foundry: 	URW++
Foundry: 	https://www.youworkforthem.com/designer/204/urw
Copyright:	Copyright 2010 URW++ Design & Development
Version: 	17
Created:	March 19, 2015
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Serifa Medium';
	src: url('serifa-d-medium.eot');
	src: url('serifa-d-medium.eot?#iefix') format('embedded-opentype'),
             url('serifa-d-medium.woff2') format('woff2'),
	     url('serifa-d-medium.woff') format('woff'),
	     url('serifa-d-medium.ttf') format('truetype'),
	     url('serifa-d-medium.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
Font: 		Serifa D
Style: 		Light
URL: 		https://www.youworkforthem.com/font/T1134/serifa
Foundry: 	URW++
Foundry: 	https://www.youworkforthem.com/designer/204/urw
Copyright:	Copyright 2010 URW++ Design & Development
Version: 	17
Created:	March 19, 2015
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Serifa Light';
	src: url('serifa-d-light.eot');
	src: url('serifa-d-light.eot?#iefix') format('embedded-opentype'),
             url('serifa-d-light.woff2') format('woff2'),
	     url('serifa-d-light.woff') format('woff'),
	     url('serifa-d-light.ttf') format('truetype'),
	     url('serifa-d-light.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
